<section class="content">
  <!--<div class="row">
    <div class="col-md-12 text-center">
      Marketed By
      <span>
        <img src="../../assets/APP_39_DEVELOPED_BY.PNG"
             style="height: 25px;object-fit: contain;margin-bottom: 10px;"
             alt="iWant logo">
      </span>
      <span style="font-size: 14px;color: #8BC34A;"><a href="http://www.iwantunlimited.com/" target="_blank">iWant technologies Pvt. Ltd.</a></span>
    </div>
    <div class="col-md-12 text-center">
      Copyright © 2017
      <span>
        <img src="../../assets/APP_39_DEVELOPED_BY.PNG"
             style="height: 25px;object-fit: contain;margin-bottom: 10px;"
             alt="iWant logo">
      </span>
      <span style="font-size: 14px;color: #8BC34A;"><a href="http://www.iwantunlimited.com/" target="_blank">iWant technologies Pvt. Ltd.</a></span>
    </div>
  </div>-->
</section>
