
<section>
    <div class="card">
        <h4 class="card-title f-22" style="font-weight: normal; padding:15px;">State Update</h4>
        <div class="col-md-12" style="margin-bottom: 30px;">
        </div>

        <form class="addService" (ngSubmit)="updateState()" #addStateServiceForm="ngForm" >

            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>State Name</mat-label>
                        <input matInput placeholder="Enter State Name" [(ngModel)]="stateModel.name" name="name" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field class="full-width-no-margin">
                        <mat-select name="companymobileTimeZone" placeholder="Enter State TimeZone"  [(ngModel)]="stateModel.timeZoneId" required >
                            <mat-option *ngFor="let time of timeData" [value]="time">
                                {{ time }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">

                    <mat-form-field class="full-width-no-margin">
                        <mat-select name="companymobileLocaleId" placeholder="Enter State Language"  [(ngModel)]="stateModel.localeId" required >
                            <mat-option *ngFor="let lang of language" [value]="lang">
                                {{ lang }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <!--[(ngModel)]="countryModel.requestBody.mcc"-->
                    <mat-form-field class="full-width-no-margin">
                        <mat-select name="companymobileCountryName" placeholder="Enter Country Name"  [(ngModel)]="stateModel.countryName" required >
                            <mat-option (onSelectionChange)="getConID(country.id)" *ngFor="let country of countryData" [value]="country.name">
                                {{ country.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="saveBtnMain">
                <button class="btn actionBtnStyle"
                        matTooltip="Save" type="submit"
                        placement="top"
                        id="assetSave"
                        [disabled]="!addStateServiceForm.form.valid">
                    <i class="fa fa-check"></i></button>
            </div>

            <div class="backBtnMain">
                <button (click)="goBack()" class="btn actionBtnStyle"
                        matTooltip="Back" type="button"
                        placement="top">
                    <i class="fa fa-chevron-left"></i></button>
            </div>

        </form>

    </div>
</section>
